@import url('style.css');
:root {
    --modal-duration: 0.8s;
}
/*** HEADER ***/
.logo{
    display: block;
}
/*** MAIN ***/
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    /* margin: 0 70px; */
    display: flex;
    justify-content: space-around;
    align-items: center;   
}
.profil-title h2 {
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
} 
.profil-title h3,
.media-title h3{
    color: #901C1C;
    font-weight: 400;
    font-size: 24px;
    line-height: 40.25px;
}
.profil-title p {
    font-weight: 400;
    font-size: 18px;
    line-height: 50.44px;
    color: #525252;
}
/*** TOTAL LIKES ***/
aside {
    display: block;
}
aside > div {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    right: 40px;
    width: 376px;
    height: 86px;
    background: #DB8876;
    padding: 20px 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 24px;
}
.info-ttlikes, 
.info-prix {
    display: flex;
    align-items: center;
}

#totalLike {
    padding: 10px;
  }

.profil-photo {
    order: 3;
}
.profil-photo img {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
#contact_button{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    order: 2;
    
}
 
.contact_button:hover,
.send_button:hover {
    background-color: #710c0c;
}
/*** FILTERS ***/
/* .photograph-filter {
    display: flex;
    font-size: 18px;

.photograph-filter p {
    font-weight: bold;
    margin-top: 10px;
}
.dropdown {
    position: relative;
    line-height: 2.5;
    list-style: none !important;
    border: 1px solid #911C1C;
    border-radius: 5px;
    background: #911C1C;
    color: #fff;
    width: 170px;
    height: 170px;
    cursor: pointer;
    margin: 9px;
    padding: 11px 19px;
    z-index: 2;    
}
    .dropdown-label {
        position: absolute;
    } 

.dropdown__arrow {
    position: absolute;
    right: 21px;
    top: 18%;
    transition: transform 0.2s linear;
}
.dropdown__arrow .expanded {
    transform: rotate(-180deg);
}

.dropdown__list {
    list-style: none !important;
}
.dropdown__list li:nth-child(1),
.dropdown__list li:nth-child(2) {
    border-bottom: 1px solid #fff;
}

*/
/* Dropdown */
.photograph-filter {
    display: flex;
    padding: 20px 0px;
    font-size: 18px;
}
.photograph-filter p {
    font-weight: bold;
}
.dropdown {
    display: inline-block;
    position: relative;
    margin-left: 15px;
} 
.dd-button {
    display: inline-block;
    border: none;
    border-radius: 4px;
    padding: 10px 30px 10px 14px;
    cursor: pointer;
    white-space: nowrap;
    background: #901c1c;
    color: #fff;
}
.arrow { 
    width: 0;
    height: 0;
    border-top: 7px solid #fff;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    position: absolute;
    right: 5px;
    top: 45%;
}
.arrow.active {
    transform: rotate(-180deg);
}
.dd-button__arrow {}

/* .dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(251, 249, 249);
} */
.dd-input {
    display: none;
}
.dd-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 156px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    list-style-type: none;
    background: #901c1c;
    z-index: 20;
}
.dd-menu.open-menu {
    display: block;
}
/*.dd-input + .dd-menu {
    display: none;
} 
 .dd-input:checked + .dd-menu {
    display: block;
} */
.dd-menu ul {
    border: none;
}
.dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
    color: #fff;
}
.dd-menu li:nth-child(1),
.dd-menu li:nth-child(2) {
    border-bottom: 1px solid #fff;
}
.dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
}
.dd-menu li.divider {
    padding: 0;
    border-bottom: 1px solid #cccccc;
}

/*** GALLERY IMAGES ***/
.photograph-content { 
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.photograph-content article {
    position: relative;
}

.photograph-content img,
.photograph-content video {
    object-fit: cover;
    object-position: 0% 0%;
    border-radius: 0.4em;
    height: 300px;
    width: 350px;
    cursor: pointer;
}
img.hover-shadow {
    transition: 0.3s;
}
  
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.media-title {
    display: flex;
    justify-content: space-between;
}
.media-likes {
    display: flex;
    align-items: center;
}
.media-title p,
.media-likes span {
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #911C1C;
    margin-right: 8px;
}
/*** Like ***/
/* .icon-div {
    padding-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.icon-div i{
    color: #911C1C;
    font-size: 21px;
} */

.like-no {
    background: url("../assets/logo_icons/dislike.svg") no-repeat;
    width: 25px;
    height: 25px;
}
.like-yes {
    background: url("../assets/logo_icons/like.svg") no-repeat;
    width: 25px;
    height: 25px;
}
.like-total {
    background: url("../assets/logo_icons/solidlike.svg") no-repeat;
    color: black !important;
    width: 25px;
    height: 25px;
}
 


/*** Video ***/ 
.play-circle {
    font-size: 42px;
    color: #901C1C;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
.play-circle:hover {
    cursor: pointer;
}
}


/**** animation ****/

@keyframes modalopen {
    from {
      opacity: 0;
      transform: translateY(-150px);
    }
    to {
      opacity: 1;
    }
  }