.lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.648);
    display: none;
}
 
.lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox .lightbox-content {
    display: flex;
    flex: 4;
    padding: 60px 0px;
    font-size: 24px;
    justify-content: center;
    z-index: 20;
}
.lightbox .lightbox-content div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lightbox-content div img, video {   
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.3em;
    animation: lightboxIn .5s;
    object-fit: cover; 
} 

.lightbox .lightbox-content div h3 {
    position: relative;
    top: 10px;
    align-self: start;
  }
  .lightbox .lightbox-left,.lightbox-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 1;
}
.lightbox__next,
.lightbox__prev {
    border: none;
    background: url(../assets/logo_icons/arrow.svg) center center/ 30px 58px no-repeat;
    width: 200px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    margin-top: -14px;
    z-index: 11;
    opacity: .5;
    text-indent: -5000px;
    cursor: pointer;
    transition: .3s;
}
.lightbox__next:hover,
.lightbox__prev:hover,
.lightbox__close:hover {
    opacity: 1;
}

.lightbox__prev {
    right: auto;
    left: 0;
    transform: rotate(180deg);
}